<h3>Welcome to Blackjack!</h3>
<br>
<h4>What is your name?</h4>
<form action='/set_name' method='post'>
  <input type='text' name='player_name'>
  <br>
  <input type='submit' value='Enter' class='btn'>
</form>

